# Python
__pycache__/
*.pyc

# IDE settings
.idea/
.vscode/

# Environment / virtualenv
.env
.venv/

# Logs / temp
*.log
*.tmp
*.bak

# ML models (auto-downloaded, too large for GitHub)
models/*.pt
models/*.onnx

# IDE session files
*.session.sql

# System
.DS_Store
Thumbs.db
